* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: center;
}

.button-row {
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 1rem 10rem;
}

.button {
  background-color: green;
  border-radius: 10px;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0.8rem 1rem;
  flex: 0;
  color: white;
  cursor: pointer;
  margin: 0 1rem;
  transition: 0.3s ease;
}

.button:hover {
  background-color: darkgreen;
  color: white;
}

.pictures-container {
  column-count: 3;
  margin: 2rem 10rem;
}

.card {
  margin-bottom: 1rem;
  display: flex;
}

.card--image {
  flex: 100%;
  margin-top: 1rem;
  border-radius: 10px;
}

@media screen and (max-width: 768px) {
  .pictures-container {
    margin: 1rem;
  }
}
